.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -1em;

  & > div {
    margin-top: 1em;
  }
  .groupHeading {
    .textCapitalizes {
      font-size: 1.35rem;
      white-space: nowrap;
    }
  }
}

.loginGitHubTip, .pasteTokenTip {
  margin: 2rem 0;
  text-align: center;
  .tokenInput {
      padding: .25em .5em;
      width: 20em;
      border: 1px solid var(--border-primary-color);
      border-radius: 3px;
      box-shadow: none;
      outline: 0;
  }
}

.repoListContainer {
  background: var(--background-secondary-color);
}

.listItemContainer {
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  padding: 0 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-primary-color);
  position: relative;

  .repoHeader h3 {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
  }

  .repoHeader h3 .textNormal {
    font-weight: 400;
  }

  .repoHeader p {
    margin-bottom: 0;
  }

  .repoHeader,
  .repo-body {
    margin-bottom: 15px;
  }

  .repo-body {
    color: var(--text-main-color);
    p {
      margin-bottom: 0;
      display: block;
      max-width: 80%;
    }
  }

  .repo-footer {
    color: var(--text-secondary-color);
    font-size: 13px;
    a {
      color: var(--text-secondary-color);
      text-decoration: none;
    }
    .repo-language-color {
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      position: relative;
      top: 1px;
      width: 12px;
    }
    svg {
      position: relative;
      top: -1px;
      margin-right: 6px;
      fill: var(--text-secondary-color);
      vertical-align: text-top;

    }
  }

  .repoMeta a {
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
  }

  .author-link {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .author-img {
    height: 92px;
    width: 92px;
    border-radius: 10px;
  }
}
