.grid-item-container {
  padding: 10px;
  transition: all 0.3s ease;
}

.grid-item-body {
  background: var(--background-secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px 10px 60px -13px rgba(0, 0, 0, 0.2);
  height: 270px;
}

.grid-item-container .author-details {
  margin-bottom: 20px;
}

.grid-item-container .author-img img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
}

.grid-item-container .author-details h5 {
  margin-bottom: 2px;
  font-weight: 600;
  color: var(--text-secondary-color);
  font-size: 14px;
}

.grid-item-container .author-details p {
  margin-bottom: 0;
  font-size: 12px;
}

.grid-item-container {
  .author-header,
  .repo-header,
  .repo-body {
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--text-main-color);
  }
  .repo-header a,
  .author-header a {
    text-decoration: none;
  }
  .repo-header h5 {
    font-size: 19px;
    margin-bottom: 5px;
  }
  .repo-header p {
    margin-bottom: 0;
  }
  .repo-meta {
    a {
      color: currentColor;
      font-weight: 500;
    }

    height: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .repo-language-color {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
  }
  .repo-header {
    overflow: hidden;
  }
  .author-name {
    font-weight: 400;
  }
  .repo-name {
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .repo-body {
    $line-height: 1.5em;
    max-height: $line-height * 4;
    overflow: hidden;
    p {
      line-height: $line-height;
      margin: 0;
    }
  }
}

.grid-item-container .repo-footer {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 25px;
  // background: white;
  padding: 10px;
}

.grid-item-container .repo-footer a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 500;
}

.grid-item-container .repo-footer svg {
  position: relative;
  top: -2px;
  fill: var(--text-secondary-color);
  margin-right: 5px;
}
