@import "theme.scss";

.list-item-container {
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  padding: 0 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-primary-color);
  position: relative;

  .repo-header h3 {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
  }

  .repo-header h3 .text-normal {
    font-weight: 400;
  }

  .repo-header p {
    margin-bottom: 0;
  }

  .repo-header,
  .repo-body {
    margin-bottom: 15px;
  }

  .repo-body {
    color: var(--text-main-color);
    p {
      margin-bottom: 0;
      display: block;
      max-width: 80%;
    }
  }

  .repo-footer {
    color: var(--text-secondary-color);
    font-size: 13px;
    a {
      color: var(--text-secondary-color);
      text-decoration: none;
    }
    .repo-language-color {
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      position: relative;
      top: 1px;
      width: 12px;
    }
    svg {
      position: relative;
      top: -1px;
      margin-right: 6px;
      fill: var(--text-secondary-color);
      vertical-align: text-top;

    }
  }

  .repo-meta a {
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
  }

  .author-link {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .author-img {
    background-color: white;
    height: 92px;
    width: 92px;
    border-radius: 92px;
  }
}
