.list-switcher {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
    visibility: hidden;

  .list-item {
    cursor: pointer;

    $size: .85rem;
    margin: .2rem;

    width: $size;
    height: $size;
    &:hover {
      box-shadow: 0 0 1px currentColor;
    }

    &:first-child {
      margin-left: 0;
    }

    border-radius: 50%;

    &.A {
      background: orangered;
    }
    &.B {
      background: darkviolet;
    }
    &.C {
      background: limegreen;
    }
  }
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -1em;

  & > div {
    margin-top: 1em;
  }
  .group-heading {
    .text-capitalizes {
      font-size: 1.35rem;
      white-space: nowrap;
    }
  }
}

.row-group {
  margin-top: 35px;
}

.row-group .group-heading {
  margin: auto;
}

.load-next-date {
  padding: 10px 20px;
  display: block;
  margin: 25px auto auto;
}

.alert-group {
  margin-top: -35px;
  margin-bottom: 25px;
  text-align: center;
}

.alert-group .alert:not(:last-child) {
  border-bottom: none;
}

.alert-group .alert {
  border-top: none;
  margin-bottom: 0;
}

.alert-warning {
  background: #ffa;
}

.no-trending-data.alert {
  margin-top: 1rem;
}
