.list-switcher {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
    visibility: hidden;

  .list-item {
    cursor: pointer;

    $size: .85rem;
    margin: .2rem;

    width: $size;
    height: $size;
    &:hover {
      box-shadow: 0 0 1px currentColor;
    }

    &:first-child {
      margin-left: 0;
    }

    border-radius: 50%;

    &.A {
      background: orangered;
    }
    &.B {
      background: darkviolet;
    }
    &.C {
      background: limegreen;
    }
  }
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -1em;

  & > div {
    margin-top: 1em;
  }
  .group-heading {
    .text-capitalizes {
      font-size: 1.35rem;
      white-space: nowrap;
    }
  }
}
