.listSwitcher {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  opacity: 0.03;

  .listItem {
    cursor: pointer;

    $size: 0.85rem;
    margin: 0.2rem;

    width: $size;
    height: $size;
    border-radius: 50%;
    color: var(--dot-color);
    background-color: var(--dot-color);

    &:hover {
      box-shadow: 0 0 3px currentColor;
    }

    &:first-child {
      margin-left: 0;
    }

    // Dot colors
    &.A {
      --dot-color: orangered
    }
    &.B {
      --dot-color: darkviolet
    }
    &.C {
      --dot-color: limegreen
    }
  }
}
