.listSwitcher {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
    visibility: hidden;

  .listItem {
    cursor: pointer;

    $size: .85rem;
    margin: .2rem;

    width: $size;
    height: $size;
    &:hover {
      box-shadow: 0 0 1px currentColor;
    }

    &:first-child {
      margin-left: 0;
    }

    border-radius: 50%;

    &.A {
      background: orangered;
    }
    &.B {
      background: darkviolet;
    }
    &.C {
      background: limegreen;
    }
  }
}
