.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -1em;

  & > div {
    margin-top: 1em;
  }
  .group-heading {
    .text-capitalizes {
      font-size: 1.35rem;
      white-space: nowrap;
    }
  }
}
