@import 'theme.scss';

body {
  background: var(--background-primary-color);
}

// We apply themes from here!
#page-wrap {
  min-height: 100vh;
  background: var(--background-primary-color);
  color: var(--text-head-color);
}

.text-muted {
  color: var(--text-secondary-color) !important;
}

// default button style
button,
.btn {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 8px;
  outline: 0;
  background-color: var(--primary-button-background-color);
  border: 1px solid var(--primary-button-background-color);
  color: var(--text-main-color);

  display: inline-flex;
  align-items: center;

  svg {
    margin-top: -2px;
  }
  // border: 1px solid #ccc;
  &:focus, &:active {
    outline: 0;
  }
}

.dropdown-menu {
  border: 1px solid var(--border-primary-color);
  box-shadow: 0 3px 12px var(--box-shadow-color);
  line-height: 2em;
  top: 3px !important;
  button {
    outline: none;
  }
}

.cursor-default {
  cursor: default !important;
}

.shadowed {
  box-shadow: 0 9px 62px -13px var(--box-shadow-color) !important;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.spin {
  animation: spin 2s infinite linear;
}
