body {
  min-height: 100vh;
}

.btn {
  font-size: 14px;
  border-radius: 8px;
}

.cursor-default {
  cursor: default !important;
}

.shadowed {
  box-shadow: 0 9px 62px -13px rgba(0, 0, 0, 0.20) !important;
}
