@import 'theme.scss';


// We apply themes from here!
.page-wrap {
  min-height: 100vh;
  background: var(--background-primary-color);
  color: var(--text-primary-color);
}

.text-muted {
  color: var(--text-secondary-color) !important;
}

.btn {
  font-size: 14px;
  border-radius: 8px;
}

.cursor-default {
  cursor: default !important;
}

.shadowed {
  box-shadow: 0 9px 62px -13px var(--box-shadow-color) !important;
}
