@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@mixin light-theme {
  --background-primary-color: #f4f4f4;
  --background-secondary-color: #fff;

  --text-main-color: #{$gray-700}; // main text, e..g repo description
  --text-head-color: #{$gray-900};
  --text-secondary-color: #{$gray-600};
  --text-faded-color: #{$gray-400};

  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --border-primary-color: #e8e8e8;

  --top-nav-background-color: #fff;
  --top-nav-border-color: #e8e8e8;

  --primary-button-background-color: #fff;
  --primary-button-border-color: #fff;
}

@mixin dark-theme {
  --background-primary-color: #090809;
  --background-secondary-color: #131313;

  --text-main-color: #{$gray-500}; // main text, e..g repo description
  --text-head-color: #{$gray-300};
  --text-secondary-color: #{$gray-600};
  --text-faded-color: #{$gray-700};

  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --border-primary-color: #313131;

  --top-nav-background-color: #010101;
  --top-nav-border-color: var(--border-primary-color);

  --primary-button-background-color: #131313;
  --primary-button-border-color: #131313;
}

@mixin dark-theme-blue {
  --background-primary-color: #01385c;
  --background-secondary-color: #131313;

  --text-main-color: #{$gray-500}; // main text, e..g repo description
  --text-head-color: #{$gray-300};
  --text-secondary-color: #{$gray-600};
  --text-faded-color: #{$gray-700};

  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --border-primary-color: #547891;

  --top-nav-background-color: #010101;
  --top-nav-border-color: var(--border-primary-color);

  --primary-button-background-color: #071720;
  --primary-button-border-color: #071720;
}

.theme-light {
  @include light-theme;
}

.theme-dark {
  @include dark-theme;
}

.theme-dark-blue {
  @include dark-theme-blue;
}

:root {
  color-scheme: dark;
  @include dark-theme-blue;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
    @include light-theme;
  }
}