.top-nav {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  margin-bottom: 35px;
  position: relative;
  height: 106px;
}

.top-nav .logo {
  margin-left: -10px;
}

.top-nav .logo img {
  width: 64px;
  height: 64px;
  float: left;
}

.top-nav .logo-text {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.top-nav .logo-text h4 {
  margin: 3px 0 0;
  font-weight: 700;
  color: #2d2d2d;
}


.top-nav .logo-text .top-text {
  position: relative;
}
.top-nav .logo-text .top-arrow {
  display: inline-block;
  width: 0;
  height: 0;

  position: absolute;
  top: -4px;
  left: 1px;

  border-top: 4px solid #eee0;
  border-left: 4px solid #eee0;
  border-right: 4px solid #eee0;
  border-bottom: 4px solid #e46773;
}

.top-nav .logo-text p {
  margin-bottom: 0;
}

.top-nav .nav-icon-links {
  margin: 10px 10px 0 0;
}
.top-nav .nav-icon-links .nav-link-item {
  color: #2d2d2d;
  float: left;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 8px;
  font-size: 20px;
  border-radius: 3px;
}
.top-nav .nav-icon-links .nav-link-item:hover {
  text-decoration: none;
  box-shadow: 0px 1px 3px #666;
  position: relative;
  top: -1px;
}

.top-nav .nav-icon-links .fa-github {
  background: #24292e;
  color: #fff;
}
.top-nav .nav-icon-links .fa-heart {
  font-size: 18px;
  background: #f0d5aa;
  color: #FC3C3C;
}
.top-nav .nav-icon-links .fa-comments {
  font-size: 18px;
  background: #393e46;
  color: #aaef39;
}
.top-nav .nav-icon-links .fa-chrome {
  font-size: 16px;
  background: #4C8CF5;
  color: #fff;
}
.top-nav .nav-icon-links .fa-twitter {
  background: #01aced;
  color: #fff;
}
