@import "variables.scss";
@import 'theme.scss';

.top-nav {
  background: var(--top-nav-background-color);
  border-bottom: 1px solid var(--top-nav-border-color);
  padding: 0;
  margin-bottom: 35px;
  position: relative;

  .container {
    position: relative;
    height: 105px;
  }

  .logo {
    margin-left: -10px;
    margin-top: 15px;
    img {
      width: 64px;
      height: 64px;
      float: left;
    }
  }

  .logo-text {
    float: left;
    margin-left: 10px;
    margin-top: 25px;

    h4 {
      margin: 3px 0 0;
      font-weight: 700;
    }

    .top-text {
      position: relative;
    }
    .top-arrow {
      display: inline-block;
      width: 0;
      height: 0;

      position: absolute;
      top: -4px;
      left: 1px;

      border-top: 4px solid #eee0;
      border-left: 4px solid #eee0;
      border-right: 4px solid #eee0;
      border-bottom: 4px solid #e46773;
    }

    p {
      margin-bottom: 0;
    }
  }

  .theme-toggle {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: -10px;
    opacity: 0.4;
    transition: all 0.3s ease-out;
    &:hover {
      top: -3px;
      opacity: 1;
    }
  }

  .nav-icon-links {
    margin: 25px 5px 0 0;

    .nav-link-item {
      float: left;
      text-align: center;
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-left: 8px;
      font-size: 20px;
    }
    .nav-link-item:hover {
      text-decoration: none;
      position: relative;
      top: -1px;
    }

    .fa {
      color: var(--text-secondary-color);
      &:hover {
        color: var(--text-main-color);
      }
    }
    .fa-heart {
      font-size: 18px;
    }
    .fa-comments {
      font-size: 18px;
    }
    .fa-chrome {
      font-size: 17px;
    }
  }
  .gemmy-words {
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 13px;
    color: var(--text-main-color);
  }
}
